.m-input-container{
	//variables
	$m-font-size: 14px;
	$m-border-color: #000;

	*{
	  box-sizing:border-box;
	  padding: 0;
	  margin:0;
	}

	//rules
	position:relative;
	display:block;
	font-size:$m-font-size;
	font-family:Georgia, 'Times New Roman', Times, serif;
	height: calc(1em + 10px);
	border: 0;
	background-color:#fff;

	input[type='text'] {
	  border:1px solid $m-border-color;
	  padding:2px calc(0.4em + 6px + 1em + 6px) 2px 2px;
	  height:inherit;
	  font-size:inherit;
	  font-family:inherit;
	  width: 100%;

	  &:focused {
		outline-style:none;
		box-shadow:none;
		border-color:transparent;
	  }
	}
	
	.clear-cross {
	  position:absolute;
	  right: calc(5px + 1em + 5px);
	  top: calc(50% - 0.2em);
	  width: 0.4em;
	  height: 0.4em;
	  background: url(cancel_32.svg) no-repeat center;
	  background-size: 0.4em 0.4em;
	  //background-size: contain; css-tricks.com/using-svg/

	  &:hover {
		cursor: pointer;
	  }
	}
	
	.ul-arrow{
		position:absolute;
		top: calc(50% - 0.5em);
		right:5px;
		width:1em;
		height:1em;
		background-color: gray;
		
		&:hover {
			cursor: pointer;
		}
	}

	ul {
	  position:relative;
	  top: 2px;
	  width: calc(100% + 18px);
	  max-height:5em;
	  padding:0;
	  margin: 0;
	  overflow-x: hidden;
	  overflow-y: auto;
	  border:1px solid #d1d1d1;
	  list-style-type:none;
	  background-color:#fff;

	  li {
		text-overflow: ellipsis;
		white-space: nowrap;

		:hover {
		  background-color:gray;
		  cursor:pointer;
		}

		> label {
		  width: 100%;
		  height: inherit;
		  display: block;

		  :hover {
			cursor:pointer;
		  }
		}
	  }
	}

	input[type='checkbox']
	{
	  margin: 0 2%;
	  height: 1em;
	  width: 1em;
	  cursor: pointer;
	}

  .display-none{
	display: none;
  }
}